
.sidenav{
height:100%;
width:0;
position:fixed;
z-index:1;
top:0;
left:0;
background-color:#111;
overflow-x:hidden;
transition:0.5s;
padding-top:60px;
}

.sidenava{
padding:8px8px8px32px;
text-decoration:none;
font-size:25px;
color:#818181;
display:block;
transition:0.3s;
}

.sidenava:hover{
color:#f1f1f1;
}

.sidenav.closebtn{
position:absolute;
top:0;
right:25px;
font-size:36px;
margin-left:50px;
}
.brandImage{
height:5vh;
margin-left:2vh;
margin-right:3vh;
padding:0vh;

}
.Brands{
margin-left:3.3%;
font-size:22px;
color:#966868;

}
.clicker{
font-size:30px;
cursor:pointer;
color:white;
float:right;
}
.SideDetails{
font-size:15px!important;
}

.ToggleSidebar{
font-size:25px;
cursor:pointer;
color:white;
float:right;
}
.profileImg{
height:50px!important;
}
.dropdown{
position:relative;
display:inline-block;
}

.dropdown-menu{
display:none;
position:absolute;
background-color:#f9f9f9;
min-width:160px;
box-shadow:0px8px16px0pxrgba(0,0,0,0.2);
padding:12px16px;
z-index:1;
}
