<p-dialog header="Modify Contact" [(visible)]="display" [responsive]="true" (onHide)="closeDialog()" showEffect="fade" [modal]="true"
  [style]="{'width':'100px'}">
  <div class="container">
    <div class="form-group">
      <label class="col-xs-2 control-label" for="name">First Name</label>
      <div class="col-xs-4">
        <input type="text" (change)="onChange()" [(ngModel)]="UserInfo.FirstName">
      </div>
      <label class="col-xs-2 control-label" for="LastName">Last Name</label>
      <div class="col-xs-4">
        <input type="text" (change)="onChange()" [(ngModel)]="UserInfo.LastName" name="LastName">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label" for="PrimaryContact">Primary Contact </label>
      <div class="col-xs-4">
        <input type="number" (change)="onChange()" [(ngModel)]="UserInfo.PrimaryContact" name="PrimaryContact">
      </div>
      <label class="col-xs-2 control-label" for="Outlook">Outlook</label>
      <div class="col-xs-4">
        <input type="email" (change)="onChange()" [(ngModel)]="UserInfo.Outlook" name="Outlook">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label" for="Home">Home</label>
      <div class="col-xs-4">
        <input type="number" class="textBox" [(ngModel)]="UserInfo.Home" name="Home">
      </div>
      <label class="col-xs-2 control-label" for="Skype">Skype</label>
      <div class="col-xs-4">
        <input type="email" class="textBox" [(ngModel)]="UserInfo.Skype" name="Skype">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label" for="twitter">twitter</label>
      <div class="col-xs-4">
        <input type="email" class="textBox" [(ngModel)]="UserInfo.twitter" name="twitter">
      </div>
      <label class="col-xs-2 control-label" for="Notes">Notes</label>
      <div class="col-xs-4">
        <input type="email" class="textBox" [(ngModel)]="UserInfo.Notes" name="Notes">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label" for="EmailAddress">EmailAddress</label>
      <div class="col-xs-4">
        <input type="text" (change)="onChange()" [(ngModel)]="UserInfo.EmailAddress" name="EmailAddress">
      </div>
      <label class="col-xs-2 control-label" for="StreetAddress">StreetAddress</label>
      <div class="col-xs-4">
        <input type="text" (change)="onChange()" [(ngModel)]="UserInfo.StreetAddress">
      </div>
    </div>
  </div>
  <p-footer>
    <button type="submit" (click)="save()" class="btn btn-default">Save</button>
    <div *ngIf="isErrorExists==true">
      <label> Contacts already exists on this number {{UserInfo.PrimaryContact}}</label>
    </div>
  </p-footer>
</p-dialog>