.profileImg{
margin-top:0%!important;
margin-bottom:5%;
width:100%;
padding:0px;
}
.container{
margin-left:2%;
border:2pxsolid;
background-color:darkgrey;
height:100%;
width:99%;
padding-bottom:3%;
position:center;
border:2px solid transparent;
border-radius:4px;
}
.textlabel{
margin-left:10PX;
float:left;
width:15%;
margin-top:1%;
}

.textBox{
width:250px;
margin:10px!important;
margin-right:15px;
border:1pxsolid#ccc;
border-radius:4px!important;
}