.test1{
float:left;
width:40%;
}

.test2{
background-color:darkgrey;
float:right;
width:60%;
height:90%;
}

.buttons{
width:88px;
float:left;
font-size:13px;
margin:6px;
margin-left:0px;
height:35px;
margin-top:10px;
background-color:#009FDA;
color:black;
}

.select{
float:right !important;
font-size:13px;
margin:6px;
margin-top:15px;
margin-left:0px;
}

.contactListEmpty{
color:red;
font-weight:bold;
}

.ExportButton{
float:left;
display:inline-block !important;
padding:6px12px;
margin-bottom:0px;
margin-top:8px;
margin-right:8px;
text-align:center;
border:1px solid transparent;
border-radius:4px;
}

