.container{
  background-color: grey;
  height:35%;
  width:90%;
  position: center;
  }
  .textlabel{
    margin:15px !important;
  }
  .textBox{
    width: 250px;
    margin:10px !important;
    border: 1px solid #ccc;
    border-radius: 4px !important;
  }
  label{
    font-size: 14px;
  }